html {
    background: url(/resources/sandyroom.png) no-repeat center fixed;
    background-size: cover;
}

header {
    border-radius: 10px;
    background-color: gray;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header li {
    float: left;
    border-right: 1x solid white;
}

header a {
    display: block;
    text-align: center;
    padding: 8px 8px;
    margin-right: 3px;
    text-decoration: none;
    color: black
}

li a:hover:not(.active) {
    background-color: lightgray;
    border-radius: 10px;
}

.active {
    background-color: aqua;
    border-radius: 10px;
}

#mypic {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.caption {
    background-color: coral;
    padding: 8px 12px;
    border-radius: 10px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 12px;
}

h1 {
    display: flex;
    justify-content: center;
    color: red
}

#ex {
    width: 200px;
    display: block;
    margin: auto;
}

.card {
    background-color: burlywood;
    padding: 1.5em;
    border-radius: 10px;
    display: block;
    margin: 10px;
    text-align: center;
}
.card img {
    width: 200px;
}
.content {
    display: flex;

}