html {
    background: url(/resources/sandyroom.png) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
    color: rgb(0, 0, 51);
}

header {
    border-radius: 10px;
    background-color: rgb(148, 101, 72);
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header li {
    float: left;
}

header a {
    display: block;
    text-align: center;
    padding: 8px 12px;
    margin-right: 3px;
    text-decoration: none;
    color: rgb(0, 0, 51);
}

li a:hover:not(.active) {
    background-color: rgb(176, 134, 98);
    border-radius: 10px;
    
}

.active {
    background-color: rgb(115, 171, 220);
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
}

#mypic {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.caption {
    background-image: linear-gradient(rgb(141, 189, 199),rgb(138, 135, 222));
    padding: 8px 12px;
    border-radius: 10px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 12px;
    text-align: center;
}
.caption li{
    text-align: left;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(115, 171, 220);
    text-decoration-line: underline;
    text-shadow: rgb(180, 6, 215) 2px 2px 5px;
}
h3 {
    color: rgb(115, 171, 220);
    display: flex;
    justify-content: center;
}
p{
    font-size: large;
}

.card {
    
    background-image: linear-gradient(rgb(141, 189, 199),rgb(138, 135, 222));
    padding: 1.5em;
    border-radius: 10px;
    display: block;
    margin: 10px;
    text-align: center;
}
.card img {
    width: 200px;
}
.content {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {

    .content {
        flex-direction: column;
    }
    .card img {
        width: 80%;
    }
}